# Python
backend/venv/
backend/__pycache__/
backend/*.db
backend/.env

channel-service/venv/
channel-service/__pycache__/
channel-service/.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log